.knowledge-container{
  width: 100vw;
  min-height: 105vh;
  background-color: white;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgba(44,44,44,0.5);
  padding-bottom: 60px;
  padding-top: 60px;

  .title-knowledge{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 40px;
    font-family: 'Lato';
    width: 400px;
    max-width: 95vw;
    text-align: center;
    color: white;
  }

  .subtitle-knowledge{
    color: white;
    font-family: 'Lato';
    font-weight: bolder;
    letter-spacing: 1px;
    font-size: 20px;
    width: 500px;
    max-width: 98vw;
    text-align: center;
    z-index: 2;
  }

  .button-bizcaters{
    z-index: 2;
    max-width: 90%;
    width: 400px;
    border: none;
    color: white;
    height: 45px;
    background: #2F80ED;
    border-radius: 10px;
    margin: 20px;
    font-size: 15px;
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 2px 2px 5px rgba(44, 44, 44, 0.8);
    &:hover{
      box-shadow: 2px 2px 7px rgba(44, 44, 44, 0.8);
    }
    &:active{
      box-shadow: 2px 2px 3px rgba(44, 44, 44, 0.8);
    }
    -webkit-transition: box-shadow 0.1s; /* Safari prior 6.1 */
    transition: box-shadow 0.1s;
  }
}
