.usuarios-container{
  width: 100vw;
  min-height: 105vh;
  background-color: white;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .title-usuarios{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 40px;
    font-family: 'Lato';
    width: 400px;
    max-width: 95vw;
    text-align: center;
  }

  .container-grid{
    max-width: 95vw;
    width: 1100px;
  }

  .container-card{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
  }

  .number-card{
    font-size: 30px;
    display: flex;
    border-radius: 25px;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: rgba(45,45,45,0.6);
    width: 50px;
    height: 50px;
  }

  .image-card{
    width: 300px;
    max-width: 200px;
    margin: 20px;
    box-sizing: border-box;
  }

  .title-card{
    font-size: 18px;
    font-family: 'Lato';
    text-align: center;
    font-weight: bolder;
  }

  .button-request{
    z-index: 2;
    max-width: 90%;
    width: 400px;
    border: none;
    color: white;
    height: 45px;
    background: #2F80ED;
    border-radius: 10px;
    margin: 20px;
    font-size: 15px;
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
    cursor: pointer;
    box-shadow: 2px 2px 5px rgba(44, 44, 44, 0.8);
    &:hover{
      box-shadow: 2px 2px 7px rgba(44, 44, 44, 0.8);
    }
    &:active{
      box-shadow: 2px 2px 3px rgba(44, 44, 44, 0.8);
    }
    -webkit-transition: box-shadow 0.1s; /* Safari prior 6.1 */
    transition: box-shadow 0.1s;
  }

  .subtitle-card{
    font-size: 14px;
    margin-top: 10px;
    font-family: 'Lato';
    text-align: center;
  }
}
